/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *::before, *::after, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

/* inputs */
input, button, textarea, select {
  color: inherit;
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-padding-start: 0;
  align-items: flex-start;
  text-index: 0;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  line-height: 1em; }

/* inputs appearance (not for every input) */
input[type=text], input[type=reset], input[type=password], input[type=search], input[type=email], input[type=tel], input[type=url], input[type=time], input[type=week], input[type=month], input[type=date], input[type=datetime], input[type=datetime-local], input[type=number], input[type=submit], input[type=reset], input[type=color], input[type=file] {
  height: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

button, textarea, select {
  height: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/* input color width */
input[type=color] {
  width: 1em; }

input::-ms-clear {
  display: none; }

/* IE clear cross */
/* details and summary */
details, summary {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/* text size adjusting */
body {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%; }

/* mark */
mark {
  background: none; }

/* Font smoothing */
/**,*::before,*::after,*:before,*:after {
 *     -webkit-font-smoothing: antialiased;
 *    -moz-osx-font-smoothing: grayscale;
 *} */
/* hr */
hr {
  height: 1px;
  margin: 0;
  padding: 0; }

/* u */
u {
  text-decoration: none; }

/* th */
table th {
  text-align: left; }

/* a */
a {
  color: inherit;
  outline: none; }



html {
  overflow-y: hidden;
  overflow-x: hidden; }
  html body {
    overflow-y: hidden;
    overflow-x: hidden; }
  html.scrollable {
    overflow-y: auto; }
    html.scrollable body {
      overflow-y: auto; }

body {
  background: #222222;
  font-family: Roboto, Helvetica, Arial;
  font-weight: 300; }

::selection {
  background: #e26060; }

::-moz-selection {
  background: #e26060; }

.sizer {
  position: absolute;
  top: 0;
  left: 0; }
  .sizer .width {
    width: 100vw; }
  .sizer .height {
    height: 100vh; }

.lazy-load {
  position: relative; }
  .lazy-load .lazy-load-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    opacity: 0;
    transform: translateZ(0);
    transition: opacity 0.5s;
    will-change: opacity; }
  .lazy-load .lazy-load-source {
    display: none; }
  .lazy-load.loaded .lazy-load-image {
    opacity: 1; }

a {
  text-decoration: none; }
  .no-touch a.underline .underline-inner {
    position: relative; }
  .no-touch a.underline .underline-stroke {
    display: block;
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: scaleX(0) translateZ(0);
    transform-origin: 0 0;
    transition: transform 0.3s; }
  .no-touch a.underline:hover .underline-stroke {
    transform: scaleX(1) translateZ(0); }

.scroll-to-top {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 80px;
  height: 80px;
  z-index: 20;
  pointer-events: auto; }
  @media screen and (max-width: 1280px) {
    .scroll-to-top {
      top: 10px;
      left: 10px; } }
  @media screen and (max-width: 960px) {
    .scroll-to-top {
      top: 5px;
      left: 5px; } }
  @media screen and (max-width: 840px) {
    .scroll-to-top {
      top: 0px;
      left: 0px; } }
  .scroll-to-top .shadow {
    position: absolute;
    top: -5px;
    left: -5px;
    width: 120px;
    height: 120px;
    background-image: url(/static/images/back-to-top-shadow.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    pointer-events: none; }
  .scroll-to-top .fill {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: #f84443; }
    @media screen and (max-width: 1280px) {
      .scroll-to-top .fill {
        top: 15px;
        left: 15px;
        width: 50px;
        height: 50px; } }
    .scroll-to-top .fill .logo {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -16px;
      margin-left: -16px;
      transform: translateZ(0);
      transition: transform 0.5s;
      will-change: transform; }
      @media screen and (max-width: 1280px) {
        .scroll-to-top .fill .logo {
          width: 28px;
          height: 28px;
          margin-top: -14px;
          margin-left: -14px; } }
  .no-touch .scroll-to-top:hover .fill .logo {
    transform: rotate(180deg); }

.illustration {
  position: absolute;
  top: 0;
  height: 100%;
  left: 75%; }
  @media screen and (max-width: 600px) {
    .illustration {
      left: 50%;
      height: 60vw;
      top: auto;
      bottom: 0; } }
  .illustration .scaler {
    height: 100%; }
  .illustration .item {
    position: absolute;
    transform: translateX(-50%) translateY(-50%); }
    .illustration .item .lazy-load {
      width: 100%;
      height: 100%; }
    .illustration .item.headphone-bubble-background {
      top: calc(50% + 90px);
      left: 0;
      width: 1057px;
      height: 989px; }
    .illustration .item.headphone-bubble-1 {
      top: calc(50% + 100px);
      left: -200px;
      width: 420px;
      height: 419px; }
      .illustration .item.headphone-bubble-1 .inner {
        animation: headphone-bubble-background 4s infinite alternate ease-in-out; }

@keyframes headphone-bubble-background {
  0% {
    transform: translateY(-30px); }
  100% {
    transform: translateY(30px); } }
    .illustration .item.headphone-main {
      top: calc(50% - 50px);
      left: 40px;
      width: 798px;
      height: 877px; }
      .illustration .item.headphone-main .inner {
        animation: headphone-bubble-background 5.3s infinite alternate ease-in-out; }

@keyframes headphone-bubble-background {
  0% {
    transform: translateY(-15px); }
  100% {
    transform: translateY(15px); } }
    .illustration .item.headphone-bubble-2 {
      top: calc(50% + 130px);
      left: 240px;
      width: 149px;
      height: 148px; }
      .illustration .item.headphone-bubble-2 .inner {
        animation: headphone-bubble-background 6.2s infinite alternate ease-in-out; }

@keyframes headphone-bubble-background {
  0% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(10px); } }
    .illustration .item.headphone-bubble-3 {
      top: calc(50% + 340px);
      left: -160px;
      width: 218px;
      height: 218px; }
      .illustration .item.headphone-bubble-3 .inner {
        animation: headphone-bubble-background 4.45s infinite alternate ease-in-out; }

@keyframes headphone-bubble-background {
  0% {
    transform: translateY(-15px); }
  100% {
    transform: translateY(15px); } }
    .illustration .item.sheriff-bubble-background {
      top: 75%;
      left: 0;
      width: 1377px;
      height: 1288px; }
    .illustration .item.sheriff-bubble-1 {
      top: 70%;
      left: 150px;
      width: 453px;
      height: 437px; }
      .illustration .item.sheriff-bubble-1 .inner {
        animation: headphone-bubble-background 4s infinite alternate ease-in-out; }

@keyframes headphone-bubble-background {
  0% {
    transform: translateY(-30px); }
  100% {
    transform: translateY(30px); } }
    .illustration .item.sheriff-main {
      bottom: 0;
      left: -80px;
      transform: translateX(-50%) translateY(0);
      width: 857px;
      height: 952px; }
    .illustration .item.sheriff-bubble-2 {
      top: 85%;
      left: -500px;
      width: 217px;
      height: 215px; }
      .illustration .item.sheriff-bubble-2 .inner {
        animation: headphone-bubble-background 6.2s infinite alternate ease-in-out; }

@keyframes headphone-bubble-background {
  0% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(10px); } }
    .illustration .item.sheriff-bubble-3 {
      top: 60%;
      left: -250px;
      width: 149px;
      height: 148px; }
      .illustration .item.sheriff-bubble-3 .inner {
        animation: headphone-bubble-background 4.45s infinite alternate ease-in-out; }

@keyframes headphone-bubble-background {
  0% {
    transform: translateY(-15px); }
  100% {
    transform: translateY(15px); } }
    .illustration .item.headphone-bubble-1 .inner,
    .illustration .item.headphone-main .inner,
    .illustration .item.headphone-bubble-2 .inner,
    .illustration .item.headphone-bubble-3 .inner,
    .illustration .item.sheriff-bubble-1 .inner,
    .illustration .item.sheriff-bubble-2 .inner,
    .illustration .item.sheriff-bubble-3 .inner {
      animation-play-state: paused; }
  .illustration.visible .item.headphone-bubble-1 .inner,
  .illustration.visible .item.headphone-main .inner,
  .illustration.visible .item.headphone-bubble-2 .inner,
  .illustration.visible .item.headphone-bubble-3 .inner,
  .illustration.visible .item.sheriff-bubble-1 .inner,
  .illustration.visible .item.sheriff-bubble-2 .inner,
  .illustration.visible .item.sheriff-bubble-3 .inner {
    animation-play-state: running; }
  .illustration.left {
    left: 25%; }
    @media screen and (max-width: 600px) {
      .illustration.left {
        left: 50%; } }
  @media screen and (max-width: 960px) {
    .illustration.sheriff {
      left: 80%; } }
  @media screen and (max-width: 600px) {
    .illustration.sheriff {
      left: 50%;
      bottom: -3vh; } }
  .illustration.sheriff .scaler {
    transform-origin: 50% 100%; }

.text-block {
  position: relative;
  width: 60vw;
  margin-top: 60px;
  margin-bottom: 60px;
  padding-right: 38vw; }
  @media screen and (max-width: 1440px) {
    .text-block {
      width: 68vw; } }
  @media screen and (max-width: 1280px) {
    .text-block {
      width: 68vw; } }
  @media screen and (max-width: 960px) {
    .text-block {
      width: calc(100% - 240px); } }
  @media screen and (max-width: 840px) {
    .text-block {
      width: calc(100vw - 200px);
      padding-right: 48vw; } }
  @media screen and (max-width: 600px) {
    .text-block {
      width: calc(100vw - 160px);
      margin-top: 40px;
      margin-bottom: 40px;
      padding-right: 0; } }
  .text-block .sup-title {
    font-size: 18px;
    line-height: 1.1em;
    margin-bottom: 1.75em;
    color: #f84443;
    font-family: Gilroy, Helvetica, Arial;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
    @media screen and (max-width: 1280px) {
      .text-block .sup-title {
        font-size: 17px; } }
    @media screen and (max-width: 960px) {
      .text-block .sup-title {
        font-size: 16px; } }
    @media screen and (max-width: 840px) {
      .text-block .sup-title {
        font-size: 15px; } }
    @media screen and (max-width: 600px) {
      .text-block .sup-title {
        font-size: 14px; } }
  .text-block .title {
    font-size: 44px;
    line-height: 1.1em;
    margin-bottom: 0.5em;
    color: #222222;
    font-family: Gilroy, Helvetica, Arial;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
    @media screen and (max-width: 1440px) {
      .text-block .title {
        font-size: 40px; } }
    @media screen and (max-width: 1280px) {
      .text-block .title {
        font-size: 36px; } }
    @media screen and (max-width: 960px) {
      .text-block .title {
        font-size: 32px; } }
    @media screen and (max-width: 840px) {
      .text-block .title {
        font-size: 28px; } }
    @media screen and (max-width: 600px) {
      .text-block .title {
        font-size: 22px; } }
    @media screen and (max-width: 480px) {
      .text-block .title {
        font-size: 18px; } }
    .text-block .title.big {
      font-size: 64px; }
      @media screen and (max-width: 1440px) {
        .text-block .title.big {
          font-size: 56px; } }
      @media screen and (max-width: 1280px) {
        .text-block .title.big {
          font-size: 50px; } }
      @media screen and (max-width: 960px) {
        .text-block .title.big {
          font-size: 44px; } }
      @media screen and (max-width: 840px) {
        .text-block .title.big {
          font-size: 38px; } }
      @media screen and (max-width: 600px) {
        .text-block .title.big {
          font-size: 32px; } }
      @media screen and (max-width: 600px) {
        .text-block .title.big {
          font-size: 26px; } }
  .text-block .description {
    color: #808080; }
    .text-block .description p {
      font-size: 15px;
      line-height: 1.75em;
      margin-bottom: 1em; }
      @media screen and (max-width: 960px) {
        .text-block .description p {
          font-size: 14px; } }
      @media screen and (max-width: 840px) {
        .text-block .description p {
          line-height: 1.5em; } }
      @media screen and (max-width: 600px) {
        .text-block .description p {
          font-size: 13px; } }
      @media screen and (max-width: 600px) {
        .text-block .description p {
          font-size: 12px; } }
  .text-block .push-button {
    display: inline-block;
    position: relative;
    margin-top: 2.5em;
    padding: 21px 40px;
    border-radius: 30px;
    background: #f84443;
    color: #fff;
    font-size: 18px;
    transition: background 0.15s, width 0.35s 1s;
    white-space: nowrap;
    font-family: Gilroy, Helvetica, Arial;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
    @media screen and (max-width: 1440px) {
      .text-block .push-button {
        padding: 19px 36px; } }
    @media screen and (max-width: 1280px) {
      .text-block .push-button {
        padding: 17px 32px;
        font-size: 17px; } }
    @media screen and (max-width: 960px) {
      .text-block .push-button {
        padding: 15px 28px;
        font-size: 16px; } }
    @media screen and (max-width: 840px) {
      .text-block .push-button {
        margin-top: 1.75em;
        padding: 13px 24px;
        font-size: 15px; } }
    @media screen and (max-width: 600px) {
      .text-block .push-button {
        padding: 11px 20px;
        font-size: 14px; } }
    @media screen and (max-width: 480px) {
      .text-block .push-button {
        padding: 9px 16px;
        font-size: 13px; } }
    .text-block .push-button .inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 21px 40px;
      border-radius: 30px;
      background: #222222;
      clip-path: circle(0px at center);
      transition: clip-path 0.35s;
      text-align: center; }
      @media screen and (max-width: 1440px) {
        .text-block .push-button .inner {
          padding: 19px 36px; } }
      @media screen and (max-width: 1280px) {
        .text-block .push-button .inner {
          padding: 17px 32px;
          font-size: 17px; } }
      @media screen and (max-width: 960px) {
        .text-block .push-button .inner {
          padding: 15px 28px;
          font-size: 16px; } }
      @media screen and (max-width: 840px) {
        .text-block .push-button .inner {
          padding: 13px 24px;
          font-size: 15px; } }
      @media screen and (max-width: 600px) {
        .text-block .push-button .inner {
          padding: 11px 20px;
          font-size: 14px; } }
      @media screen and (max-width: 480px) {
        .text-block .push-button .inner {
          padding: 9px 16px;
          font-size: 13px; } }
    .no-touch .text-block .push-button:hover {
      background: #222222;
      transition-delay: 0.2s; }
      .no-touch .text-block .push-button:hover .inner {
        clip-path: circle(120px at center); }
  .text-block.right {
    padding-right: 0;
    padding-left: 38vw; }
    @media screen and (max-width: 840px) {
      .text-block.right {
        padding-right: 0;
        padding-left: 48vw; } }
    @media screen and (max-width: 600px) {
      .text-block.right {
        padding-left: 0; } }

.section {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .section.head {
    height: 100vh;
    background: blue; }
    .section.head .canvas-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%; }
      .section.head .canvas-background .lava {
        width: 100%;
        height: 100vh;
        background: #450196; }
      .section.head .canvas-background .planet {
        width: 100%;
        height: 200vh;
        background: #222222; }
    .section.head .logo {
      width: 748px;
      height: 158px; }
    .section.head .experience {
      left: 0;
      width: 100%;
      height: 100%; }
      .section.head .experience.absolute {
        position: absolute;
        top: 100%; }
      .section.head .experience.fixed {
        position: fixed;
        top: 0; }
  .section.about {
    min-height: 100vh;
    overflow: hidden; }
    @media screen and (max-width: 600px) {
      .section.about {
        justify-content: flex-start;
        padding-top: 10vh; } }
    .section.about .text-block .sup-title,
    .section.about .text-block .title,
    .section.about .text-block .description {
      position: relative; }
    .section.about .text-block .title {
      color: #ffffff; }
    .section.about .text-block .gradient {
      display: none;
      position: absolute;
      top: -180px;
      left: -100px;
      right: -100px;
      height: calc(100% + 240px);
      background: linear-gradient(to bottom, #222222 80%, rgba(38, 38, 38, 0) 100%); }
      @media screen and (max-width: 600px) {
        .section.about .text-block .gradient {
          display: block; } }
  .section.talent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    text-align: center;
    overflow: visible; }
    .section.talent .content {
      position: relative;
      width: 50%; }
      @media screen and (max-width: 960px) {
        .section.talent .content {
          width: calc(100% - 240px); } }
      @media screen and (max-width: 840px) {
        .section.talent .content {
          width: calc(100% - 200px); } }
      @media screen and (max-width: 600px) {
        .section.talent .content {
          width: calc(100% - 160px); } }
    .section.talent .bar {
      position: absolute;
      bottom: calc(100% + 50px);
      left: 50%;
      width: 1px;
      height: 35vh;
      background: #f84443; }
    .section.talent .label {
      color: #f84443;
      font-size: 18px;
      font-family: Gilroy, Helvetica, Arial;
      font-weight: bold;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
      @media screen and (max-width: 1280px) {
        .section.talent .label {
          font-size: 17px; } }
      @media screen and (max-width: 960px) {
        .section.talent .label {
          font-size: 16px; } }
      @media screen and (max-width: 840px) {
        .section.talent .label {
          font-size: 15px; } }
      @media screen and (max-width: 600px) {
        .section.talent .label {
          font-size: 14px; } }
    .section.talent .text {
      line-height: 1.1em;
      margin-bottom: 0.5em;
      margin-top: 0.7em;
      color: #ffffff;
      font-size: 64px;
      font-family: Gilroy, Helvetica, Arial;
      font-weight: bold;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
      @media screen and (max-width: 1440px) {
        .section.talent .text {
          font-size: 56px; } }
      @media screen and (max-width: 1280px) {
        .section.talent .text {
          font-size: 50px; } }
      @media screen and (max-width: 960px) {
        .section.talent .text {
          font-size: 44px; } }
      @media screen and (max-width: 840px) {
        .section.talent .text {
          font-size: 38px; } }
      @media screen and (max-width: 600px) {
        .section.talent .text {
          font-size: 32px; } }
      @media screen and (max-width: 600px) {
        .section.talent .text {
          font-size: 26px; } }
  .section.case-studies {
    display: block;
    background: #fff;
    height: auto; }
    .section.case-studies .right-border {
      position: absolute;
      top: 0;
      right: 0;
      width: 120px;
      height: 100%;
      background: #f0f0f0; }
      @media screen and (max-width: 1280px) {
        .section.case-studies .right-border {
          width: 100px; } }
      @media screen and (max-width: 960px) {
        .section.case-studies .right-border {
          width: 90px; } }
      @media screen and (max-width: 840px) {
        .section.case-studies .right-border {
          display: none; } }
  .section.case-study {
    min-height: 100vh; }
    @media screen and (max-width: 600px) {
      .section.case-study {
        height: auto;
        padding-top: 10vh;
        padding-bottom: 60vw; } }
    .section.case-study.sheriff {
      overflow: hidden; }
  .section.newsletter {
    overflow: hidden;
    height: 600px;
    max-height: 100vh;
    background: #df3f3b; }
    @media screen and (max-width: 600px) {
      .section.newsletter {
        height: auto;
        padding-top: 10vh;
        padding-bottom: 10vh; } }
    .section.newsletter .background {
      position: absolute;
      top: -40px;
      right: 0;
      bottom: -40px;
      left: 0;
      will-change: transform; }
    @media screen and (max-width: 840px) {
      .section.newsletter .text-block {
        padding-right: 38vw; } }
    @media screen and (max-width: 600px) {
      .section.newsletter .text-block {
        padding-right: 0; } }
    .section.newsletter .text-block .title {
      color: #ffffff; }
    .section.newsletter .form {
      position: absolute;
      left: 51vw;
      right: 165px;
      font-size: 0;
      font-family: Gilroy, Helvetica, Arial;
      font-weight: bold;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
      @media screen and (max-width: 600px) {
        .section.newsletter .form {
          position: relative;
          left: auto;
          right: auto;
          width: calc(100% - 200px); } }
      .section.newsletter .form .input-container {
        display: inline-block;
        position: relative;
        height: 60px;
        margin-top: 10px;
        margin-right: 10px;
        vertical-align: middle; }
        @media screen and (max-width: 1440px) {
          .section.newsletter .form .input-container {
            height: 56px; } }
        @media screen and (max-width: 1280px) {
          .section.newsletter .form .input-container {
            height: 51px; } }
        @media screen and (max-width: 960px) {
          .section.newsletter .form .input-container {
            height: 46px; } }
        @media screen and (max-width: 840px) {
          .section.newsletter .form .input-container {
            height: 41px; } }
        @media screen and (max-width: 600px) {
          .section.newsletter .form .input-container {
            height: 36px; } }
        @media screen and (max-width: 480px) {
          .section.newsletter .form .input-container {
            height: 31px; } }
      .section.newsletter .form .input-email {
        display: inline-block;
        background: #fff;
        width: 360px;
        height: 60px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 30px;
        font-size: 18px;
        transition: opacity 0.3s;
        will-change: opacity; }
        @media screen and (max-width: 1440px) {
          .section.newsletter .form .input-email {
            height: 56px;
            padding-left: 28px;
            padding-right: 28px;
            width: 330px; } }
        @media screen and (max-width: 1280px) {
          .section.newsletter .form .input-email {
            height: 51px;
            font-size: 17px;
            padding-left: 26px;
            padding-right: 26px;
            width: 300px; } }
        @media screen and (max-width: 960px) {
          .section.newsletter .form .input-email {
            height: 46px;
            font-size: 16px;
            padding-left: 24px;
            padding-right: 24px;
            width: 270px; } }
        @media screen and (max-width: 840px) {
          .section.newsletter .form .input-email {
            height: 41px;
            font-size: 15px;
            padding-left: 22px;
            padding-right: 22px;
            width: 240px; } }
        @media screen and (max-width: 600px) {
          .section.newsletter .form .input-email {
            height: 36px;
            font-size: 14px;
            padding-left: 20px;
            padding-right: 20px;
            width: 210px; } }
        @media screen and (max-width: 480px) {
          .section.newsletter .form .input-email {
            height: 31px;
            font-size: 13px;
            padding-left: 18px;
            padding-right: 18px;
            width: 180px; } }
      .section.newsletter .form .alert {
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100%;
        font-size: 12px;
        text-align: center;
        color: #fff;
        margin-top: 8px;
        margin-bottom: 8px;
        opacity: 0;
        transition: opacity 0.3s;
        will-change: opacity; }
        .section.newsletter .form .alert.active {
          opacity: 1; }
      .section.newsletter .form .validate-message {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60px;
        color: #fff;
        font-size: 18px;
        opacity: 0;
        transition: opacity 0.35s 0.55s;
        will-change: opacity;
        pointer-events: none; }
        @media screen and (max-width: 1440px) {
          .section.newsletter .form .validate-message {
            height: 56px; } }
        @media screen and (max-width: 1280px) {
          .section.newsletter .form .validate-message {
            height: 51px;
            font-size: 17px; } }
        @media screen and (max-width: 960px) {
          .section.newsletter .form .validate-message {
            height: 46px;
            font-size: 16px; } }
        @media screen and (max-width: 840px) {
          .section.newsletter .form .validate-message {
            height: 41px;
            font-size: 15px; } }
        @media screen and (max-width: 600px) {
          .section.newsletter .form .validate-message {
            height: 36px;
            font-size: 14px; } }
        @media screen and (max-width: 480px) {
          .section.newsletter .form .validate-message {
            height: 31px;
            font-size: 13px; } }
      .section.newsletter .form .button-container {
        display: inline-block;
        position: relative;
        width: 160px;
        height: 60px;
        margin-top: 10px;
        margin-right: 24px;
        vertical-align: middle; }
        @media screen and (max-width: 1440px) {
          .section.newsletter .form .button-container {
            width: 154px;
            height: 56px; } }
        @media screen and (max-width: 1280px) {
          .section.newsletter .form .button-container {
            width: 144px;
            height: 51px; } }
        @media screen and (max-width: 960px) {
          .section.newsletter .form .button-container {
            width: 134px;
            height: 46px; } }
        @media screen and (max-width: 840px) {
          .section.newsletter .form .button-container {
            width: 124px;
            height: 41px; } }
        @media screen and (max-width: 600px) {
          .section.newsletter .form .button-container {
            width: 114px;
            height: 36px; } }
        @media screen and (max-width: 480px) {
          .section.newsletter .form .button-container {
            width: 104px;
            height: 31px; } }
      .section.newsletter .form .send-button {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 18px;
        width: 160px;
        height: 100%;
        border-radius: 30px;
        overflow: hidden;
        background: #222222;
        color: #ffffff;
        text-align: center;
        cursor: pointer;
        transition: background 0.15s, width 0.35s 1s; }
        @media screen and (max-width: 1280px) {
          .section.newsletter .form .send-button {
            font-size: 17px; } }
        @media screen and (max-width: 960px) {
          .section.newsletter .form .send-button {
            font-size: 16px; } }
        @media screen and (max-width: 840px) {
          .section.newsletter .form .send-button {
            font-size: 15px; } }
        @media screen and (max-width: 600px) {
          .section.newsletter .form .send-button {
            font-size: 14px; } }
        @media screen and (max-width: 480px) {
          .section.newsletter .form .send-button {
            font-size: 13px; } }
        .section.newsletter .form .send-button .text {
          transition: opacity 0.3s;
          will-change: opacity; }
        .section.newsletter .form .send-button .inner {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 30px;
          line-height: 60px;
          background: #f84443;
          clip-path: circle(0px at center);
          transition: clip-path 0.35s; }
          @media screen and (max-width: 1440px) {
            .section.newsletter .form .send-button .inner {
              line-height: 56px; } }
          @media screen and (max-width: 1280px) {
            .section.newsletter .form .send-button .inner {
              line-height: 51px; } }
          @media screen and (max-width: 960px) {
            .section.newsletter .form .send-button .inner {
              line-height: 46px; } }
          @media screen and (max-width: 840px) {
            .section.newsletter .form .send-button .inner {
              line-height: 41px; } }
          @media screen and (max-width: 600px) {
            .section.newsletter .form .send-button .inner {
              line-height: 36px; } }
          @media screen and (max-width: 480px) {
            .section.newsletter .form .send-button .inner {
              line-height: 31px; } }
          .section.newsletter .form .send-button .inner .check {
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            width: 24px;
            height: 100%;
            margin-left: -12px;
            background-color: #f84443;
            background-image: url("/static/images/check.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            opacity: 0;
            transition: opacity 0.3s 0.55s;
            will-change: opacity; }
            @media screen and (max-width: 840px) {
              .section.newsletter .form .send-button .inner .check {
                width: 22px;
                margin-left: -11px; } }
            @media screen and (max-width: 600px) {
              .section.newsletter .form .send-button .inner .check {
                width: 20px;
                margin-left: -10px; } }
            @media screen and (max-width: 480px) {
              .section.newsletter .form .send-button .inner .check {
                width: 16px;
                margin-left: -8px; } }
          .section.newsletter .form .send-button .inner .email {
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            width: 24px;
            height: 100%;
            margin-left: -12px;
            background-color: #f84443;
            background-image: url("/static/images/email.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            opacity: 0;
            transition: opacity 0.3s 2s;
            will-change: opacity; }
            @media screen and (max-width: 840px) {
              .section.newsletter .form .send-button .inner .email {
                width: 22px;
                margin-left: -11px; } }
            @media screen and (max-width: 600px) {
              .section.newsletter .form .send-button .inner .email {
                width: 20px;
                margin-left: -10px; } }
            @media screen and (max-width: 480px) {
              .section.newsletter .form .send-button .inner .email {
                width: 16px;
                margin-left: -8px; } }
        .no-touch .section.newsletter .form .send-button:hover {
          background: #f84443;
          transition-delay: 0.2s; }
          .no-touch .section.newsletter .form .send-button:hover .inner {
            clip-path: circle(80px at center); }
      .section.newsletter .form.success .validate-message {
        opacity: 1; }
      .section.newsletter .form.success .input-email {
        opacity: 0;
        pointer-events: none; }
      .section.newsletter .form.success .send-button {
        background: #f84443;
        width: 60px; }
        .section.newsletter .form.success .send-button .text {
          opacity: 0; }
        @media screen and (max-width: 1440px) {
          .section.newsletter .form.success .send-button {
            width: 56px; } }
        @media screen and (max-width: 1280px) {
          .section.newsletter .form.success .send-button {
            width: 51px; } }
        @media screen and (max-width: 960px) {
          .section.newsletter .form.success .send-button {
            width: 46px; } }
        @media screen and (max-width: 840px) {
          .section.newsletter .form.success .send-button {
            width: 41px; } }
        @media screen and (max-width: 600px) {
          .section.newsletter .form.success .send-button {
            width: 36px; } }
        @media screen and (max-width: 480px) {
          .section.newsletter .form.success .send-button {
            width: 31px; } }
        .section.newsletter .form.success .send-button .inner {
          clip-path: circle(80px at center); }
          .section.newsletter .form.success .send-button .inner .check {
            opacity: 1; }
          .section.newsletter .form.success .send-button .inner .email {
            opacity: 1; }
  .section.footer {
    background: #222222;
    color: #ffffff;
    flex-direction: column;
    padding-top: 120px;
    padding-bottom: 60px; }
    .section.footer .items {
      width: 60vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding-bottom: 60px;
      font-family: Gilroy, Helvetica, Arial;
      font-weight: bold;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 18px; }
      @media screen and (max-width: 1440px) {
        .section.footer .items {
          width: 68vw; } }
      @media screen and (max-width: 1280px) {
        .section.footer .items {
          width: 68vw;
          font-size: 17px; } }
      @media screen and (max-width: 960px) {
        .section.footer .items {
          width: calc(100% - 240px);
          font-size: 16px; } }
      @media screen and (max-width: 840px) {
        .section.footer .items {
          width: calc(100% - 200px); } }
      @media screen and (max-width: 600px) {
        .section.footer .items {
          width: calc(100% - 160px); } }
      @media screen and (max-width: 840px) {
        .section.footer .items .item {
          width: 100%;
          line-height: 1.6em; } }
      @media screen and (max-width: 840px) {
        .section.footer .items .item.logo {
          width: 100%;
          margin-bottom: 20px; } }
      .section.footer .items .item.social {
        font-size: 0;
        white-space: nowrap; }
        @media screen and (max-width: 840px) {
          .section.footer .items .item.social {
            width: 100%;
            margin-top: 30px; } }
        .section.footer .items .item.social .social-item {
          position: relative;
          display: inline-block;
          width: 60px;
          height: 60px;
          border-radius: 30px;
          margin-left: 15px;
          background: #181818;
          overflow: hidden; }
          @media screen and (max-width: 1280px) {
            .section.footer .items .item.social .social-item {
              width: 50px;
              height: 50px;
              margin-left: 10px; } }
          @media screen and (max-width: 840px) {
            .section.footer .items .item.social .social-item {
              margin-left: 0;
              margin-right: 15px; } }
          @media screen and (max-width: 600px) {
            .section.footer .items .item.social .social-item {
              margin-right: 5px; } }
          .section.footer .items .item.social .social-item .logo {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 26px;
            height: 22px;
            margin-top: -10px;
            margin-left: -12px;
            transform: translateZ(0);
            transition: transform 0.5s cubic-bezier(0.75, 0, 0.25, 1);
            will-change: transform; }
          .section.footer .items .item.social .social-item .logo-2 {
            transform: translateY(50px) translateZ(0); }
          .no-touch .section.footer .items .item.social .social-item:hover .logo-1 {
            transform: translateY(-50px) translateZ(0); }
          .no-touch .section.footer .items .item.social .social-item:hover .logo-2 {
            transform: translateY(0px) translateZ(0); }
    .section.footer .bottom-links {
      width: 60vw;
      text-align: right; }
      @media screen and (max-width: 1440px) {
        .section.footer .bottom-links {
          width: 68vw; } }
      @media screen and (max-width: 1280px) {
        .section.footer .bottom-links {
          width: 68vw; } }
      @media screen and (max-width: 960px) {
        .section.footer .bottom-links {
          width: calc(100% - 240px); } }
      @media screen and (max-width: 840px) {
        .section.footer .bottom-links {
          width: calc(100vw - 200px); } }
      .section.footer .bottom-links .item {
        display: inline-block;
        text-decoration: none;
        color: #808080;
        margin-left: 35px;
        font-family: Gilroy, Helvetica, Arial;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
        @media screen and (max-width: 960px) {
          .section.footer .bottom-links .item {
            font-size: 16px; } }
        @media screen and (max-width: 840px) {
          .section.footer .bottom-links .item {
            font-size: 15px; } }
        @media screen and (max-width: 600px) {
          .section.footer .bottom-links .item {
            font-size: 14px; } }
        .section.footer .bottom-links .item .underline-stroke {
          background: #808080; }

.popin {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background: #222222;
  color: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateZ(0);
  transition: opacity 0.3s, visibility 0.3s 0.3s;
  will-change: opacity; }
  .popin .content {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    top: 0;
    left: 0;
    padding-top: 25vh;
    padding-bottom: 25vh;
    opacity: 0;
    pointer-events: none;
    transform: translateZ(0);
    transition: opacity 0.3s;
    will-change: opacity; }
    .popin .content .inner {
      width: 580px;
      margin: 0 auto; }
      @media screen and (max-width: 840px) {
        .popin .content .inner {
          width: auto;
          margin-right: 120px;
          margin-left: 120px; } }
      @media screen and (max-width: 600px) {
        .popin .content .inner {
          margin-right: 80px;
          margin-left: 80px; } }
      @media screen and (max-width: 480px) {
        .popin .content .inner {
          margin-right: 40px;
          margin-left: 40px; } }
    .popin .content .title {
      font-family: Gilroy, Helvetica, Arial;
      font-weight: bold;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
      .popin .content .title.title-1 {
        font-size: 64px;
        line-height: 1.1em;
        margin-bottom: 0.5em; }
        @media screen and (max-width: 1440px) {
          .popin .content .title.title-1 {
            font-size: 56px; } }
        @media screen and (max-width: 1280px) {
          .popin .content .title.title-1 {
            font-size: 50px; } }
        @media screen and (max-width: 960px) {
          .popin .content .title.title-1 {
            font-size: 44px; } }
        @media screen and (max-width: 840px) {
          .popin .content .title.title-1 {
            font-size: 38px; } }
        @media screen and (max-width: 600px) {
          .popin .content .title.title-1 {
            font-size: 32px; } }
        @media screen and (max-width: 600px) {
          .popin .content .title.title-1 {
            font-size: 26px; } }
      .popin .content .title.title-2 {
        font-size: 44px;
        line-height: 1.1em;
        margin-bottom: 0.5em; }
        @media screen and (max-width: 1440px) {
          .popin .content .title.title-2 {
            font-size: 40px; } }
        @media screen and (max-width: 1280px) {
          .popin .content .title.title-2 {
            font-size: 36px; } }
        @media screen and (max-width: 960px) {
          .popin .content .title.title-2 {
            font-size: 32px; } }
        @media screen and (max-width: 840px) {
          .popin .content .title.title-2 {
            font-size: 28px; } }
        @media screen and (max-width: 600px) {
          .popin .content .title.title-2 {
            font-size: 22px; } }
        @media screen and (max-width: 480px) {
          .popin .content .title.title-2 {
            font-size: 18px; } }
      .popin .content .title.title-3 {
        font-size: 24px;
        line-height: 1.1em;
        margin-bottom: 0.5em; }
        @media screen and (max-width: 1280px) {
          .popin .content .title.title-3 {
            font-size: 22px; } }
        @media screen and (max-width: 960px) {
          .popin .content .title.title-3 {
            font-size: 20px; } }
        @media screen and (max-width: 840px) {
          .popin .content .title.title-3 {
            font-size: 18px; } }
        @media screen and (max-width: 600px) {
          .popin .content .title.title-3 {
            font-size: 16px; } }
        @media screen and (max-width: 480px) {
          .popin .content .title.title-3 {
            font-size: 14px; } }
    .popin .content .text {
      margin-bottom: 2.75em;
      color: #808080; }
      .popin .content .text p {
        font-size: 15px;
        line-height: 1.75em;
        margin-bottom: 1em; }
        @media screen and (max-width: 960px) {
          .popin .content .text p {
            font-size: 14px; } }
        @media screen and (max-width: 600px) {
          .popin .content .text p {
            font-size: 13px; } }
        @media screen and (max-width: 600px) {
          .popin .content .text p {
            font-size: 12px; } }
    .popin .content.active {
      opacity: 1;
      pointer-events: auto;
      transition-delay: 0.2s; }
  .popin .gradient-mask {
    position: fixed;
    right: 22px;
    left: 22px;
    height: 30vh;
    pointer-events: none; }
    .popin .gradient-mask.bottom {
      bottom: 0;
      background: linear-gradient(to bottom, rgba(34, 34, 34, 0) 0%, #222222 65%); }
    .popin .gradient-mask.top {
      top: 0;
      background: linear-gradient(to bottom, #222222 35%, rgba(34, 34, 34, 0) 100%); }
  .popin .close {
    position: fixed;
    top: 30px;
    left: calc(100vw - 110px);
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: #181818; }
    @media screen and (max-width: 1280px) {
      .popin .close {
        left: calc(100vw - 100px);
        width: 50px;
        height: 50px; } }
    @media screen and (max-width: 600px) {
      .popin .close {
        left: calc(100vw - 90px);
        top: 20px; } }
    @media screen and (max-width: 480px) {
      .popin .close {
        left: calc(100vw - 80px);
        bottom: 10px; } }
    .popin .close .icon {
      position: absolute;
      top: 22px;
      left: 22px;
      transform: translateZ(0);
      transition: transform 0.5s;
      will-change: transform; }
      @media screen and (max-width: 1280px) {
        .popin .close .icon {
          top: 17px;
          left: 17px; } }
    .no-touch .popin .close:hover .icon {
      transform: rotate(180deg); }
  .popin .bottom-links {
    position: absolute;
    bottom: 48px;
    left: 50%;
    width: 60vw;
    margin-left: -30vw;
    text-align: right; }
    @media screen and (max-width: 840px) {
      .popin .bottom-links {
        bottom: 38px;
        left: 0;
        width: 100%;
        text-align-last: left;
        margin-right: 120px;
        margin-left: 120px; } }
    @media screen and (max-width: 600px) {
      .popin .bottom-links {
        margin-right: 80px;
        margin-left: 80px; } }
    @media screen and (max-width: 480px) {
      .popin .bottom-links {
        margin-right: 40px;
        margin-left: 40px; } }
    .popin .bottom-links .item {
      display: inline-block;
      text-decoration: none;
      color: #808080;
      margin-left: 35px;
      font-family: Gilroy, Helvetica, Arial;
      font-weight: bold;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
      @media screen and (max-width: 960px) {
        .popin .bottom-links .item {
          font-size: 16px; } }
      @media screen and (max-width: 840px) {
        .popin .bottom-links .item {
          margin-left: 0;
          margin-right: 25px;
          font-size: 15px; } }
      @media screen and (max-width: 600px) {
        .popin .bottom-links .item {
          font-size: 14px; } }
      .popin .bottom-links .item .underline-stroke {
        background: #808080; }
  .popin.active {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transition-delay: 0s, 0s; }

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none; }
  .navigation .left {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 100%;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    pointer-events: auto; }
    @media screen and (max-width: 1280px) {
      .navigation .left {
        width: 100px; } }
    @media screen and (max-width: 960px) {
      .navigation .left {
        width: 90px; } }
    @media screen and (max-width: 840px) {
      .navigation .left {
        width: 80px;
        border-right: none; } }
  .navigation .right {
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
    height: 100%;
    border-left: 1px solid rgba(255, 255, 255, 0.15);
    pointer-events: auto; }
    @media screen and (max-width: 1280px) {
      .navigation .right {
        width: 100px; } }
    @media screen and (max-width: 960px) {
      .navigation .right {
        width: 90px; } }
    @media screen and (max-width: 840px) {
      .navigation .right {
        border-left: none; } }
  .navigation .loaded {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 11px;
    letter-spacing: 2px;
    color: #ffffff;
    font-family: Gilroy, Helvetica, Arial;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translateX(1px) rotate(-90deg); }
    @media screen and (max-width: 600px) {
      .navigation .loaded {
        font-size: 10px; } }
    @media screen and (max-width: 480px) {
      .navigation .loaded {
        font-size: 9px; } }
  .navigation .scroll-down {
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 60px;
    height: 60px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s; }
    @media screen and (max-width: 1280px) {
      .navigation .scroll-down {
        bottom: 20px;
        left: 20px; } }
    @media screen and (max-width: 960px) {
      .navigation .scroll-down {
        bottom: 15px;
        left: 15px; } }
    @media screen and (max-width: 840px) {
      .navigation .scroll-down {
        bottom: 10px;
        left: 10px; } }
    .navigation .scroll-down .border {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 60px;
      height: 60px;
      margin-top: -30px;
      margin-left: -30px;
      border: 1px solid #fff;
      border-radius: 50%;
      opacity: 0.15;
      transition: transform 0.3s cubic-bezier(0.42, 0, 0.25, 1), opacity 0.3s cubic-bezier(0.42, 0, 0.25, 1);
      will-change: transform, opacity; }
      @media screen and (max-width: 1280px) {
        .navigation .scroll-down .border {
          width: 50px;
          height: 50px;
          margin-top: -25px;
          margin-left: -25px; } }
    .navigation .scroll-down .arrow {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 8px;
      height: 20px;
      margin-top: -10px;
      margin-left: -4px;
      background-image: url("/static/images/arrow-white.png");
      background-size: cover;
      opacity: 0.15;
      transition: transform 0.3s cubic-bezier(0.42, 0, 0.25, 1), opacity 0.3s cubic-bezier(0.42, 0, 0.25, 1);
      will-change: transform, opacity; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .navigation .scroll-down .arrow {
          background-image: url("/static/images/arrow-white-2x.png"); } }
    .no-touch .navigation .scroll-down.hover .border {
      transform: translateY(-14px);
      opacity: 0.75; }
    .no-touch .navigation .scroll-down.hover .arrow {
      transform: translateY(14px);
      opacity: 1; }
    .navigation .scroll-down.active {
      opacity: 1;
      pointer-events: auto; }
  .navigation .scroll-to-contact {
    position: absolute;
    top: 28px;
    right: 28px;
    width: 60px;
    height: 60px; }
    @media screen and (max-width: 1280px) {
      .navigation .scroll-to-contact {
        top: 20px;
        right: 20px; } }
    @media screen and (max-width: 960px) {
      .navigation .scroll-to-contact {
        top: 15px;
        right: 15px; } }
    @media screen and (max-width: 840px) {
      .navigation .scroll-to-contact {
        top: 10px;
        right: 10px; } }
    .navigation .scroll-to-contact .border {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 60px;
      height: 60px;
      margin-top: -30px;
      margin-left: -30px;
      border: 1px solid #fff;
      border-radius: 50%;
      opacity: 0.15;
      transition: transform 0.3s cubic-bezier(0.42, 0, 0.25, 1), opacity 0.3s cubic-bezier(0.42, 0, 0.25, 1);
      will-change: transform, opacity; }
      @media screen and (max-width: 1280px) {
        .navigation .scroll-to-contact .border {
          width: 50px;
          height: 50px;
          margin-top: -25px;
          margin-left: -25px; } }
    .navigation .scroll-to-contact .bar {
      position: absolute;
      top: 50%;
      right: calc(50% + 20px);
      width: 80px;
      height: 1px;
      background: #ffffff;
      transform-origin: 100% 0%;
      transition: transform 0.3s cubic-bezier(0.42, 0, 0.25, 1), opacity 0.3s cubic-bezier(0.42, 0, 0.25, 1);
      will-change: transform, opacity; }
    .navigation .scroll-to-contact .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 17px;
      margin-top: -8px;
      margin-left: -10px;
      background-image: url("/static/images/email.png");
      background-size: contain;
      background-repeat: no-repeat; }
    .no-touch .navigation .scroll-to-contact.hover .border {
      opacity: 0.75; }
    .no-touch .navigation .scroll-to-contact.hover .bar {
      transform: scaleX(0.65);
      opacity: 1; }
  .navigation .version {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; }
    .navigation .version .inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .navigation .version.dark .left {
      border-right-color: rgba(0, 0, 0, 0.1); }
    .navigation .version.dark .loaded {
      color: #cccccc; }
    .navigation .version.dark .scroll-down .border {
      border-color: #000000; }
    .navigation .version.dark .scroll-down .arrow {
      background-image: url("/static/images/arrow-black.png"); }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .navigation .version.dark .scroll-down .arrow {
          background-image: url("/static/images/arrow-black-2x.png"); } }
    .no-touch .navigation .version.dark .scroll-down.hover .border {
      opacity: 0.35; }
    .no-touch .navigation .version.dark .scroll-down.hover .arrow {
      opacity: 0.65; }
    .navigation .version.dark .scroll-to-contact .border {
      border-color: #f84443;
      opacity: 0.3; }
    .navigation .version.dark .scroll-to-contact .bar {
      background: #f84443; }
    .navigation .version.dark .scroll-to-contact .icon {
      background-image: url("/static/images/email-red.png"); }
    .no-touch .navigation .version.dark .scroll-to-contact.hover .border {
      opacity: 1; }

*{
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    -ms-box-shadow: none !important;
    
}

/*# sourceMappingURL=main.849eb22cba2ff6e6d116122f7c531815.css.map*/